Repository percebus/npm-web-sampler: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, standardx --fix, npm run grunt:htmllint, helm lint --strict, dockerlint

waa
  .github/workflows/always.yml
  package.json
Due: prettier --ignore-unknown --write

refactor(`pip`): Move `kaggle` from `requirements.dev.txt` to `requirements.pipx.txt` (#254)
  .github/copilot-instructions.md
  .github/workflows/pull_request.yml
  .vscode/extensions.json
  package-lock.json
  package.json
  requirements.dev.txt
  requirements.frozen.txt
  requirements.pipx.txt
  requirements.release.txt
  requirements.txt
Due: prettier --ignore-unknown --write

aaa
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

tesrt
  .github/workflows/always.yml
Due: prettier --ignore-unknown --write

F
  .github/workflows/always.yml
Due: prettier --ignore-unknown --write

fix(`workflows/always.yml`): E2E (#256)
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

chore(release): 2.4.9 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  requirements.frozen.txt
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  425b1f9afc94e601676c2b65fdadbd2002e73643
Due: prettier --ignore-unknown --write

chore: Add coverage reporting to CI Jest and unit-test `src/app/script.js` (#261)
  __tests__/src/app/script.unit.spec.js
  jest.config.js
  package-lock.json
  package.json
  src/app/script.js
Due: prettier --ignore-unknown --write, standardx --fix

feat: add cracks as semantic-release verifyRelease plugin (#262)
  .releaserc.mjs
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

fix: wrap cracks plugin with promise adapter for semantic-release v24 compatibility (#263)
  .releaserc.mjs
  scripts/cracks-wrapper.cjs
Due: prettier --ignore-unknown --write

fix: remove package.json from cracks paths to use current deps for old tests (#264)
  .releaserc.mjs
  scripts/cracks-wrapper.cjs
Due: prettier --ignore-unknown --write

chore(release): 2.5.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  dbd2dc79957cda01e2bd4e26ab7def4e0bbf6c5a
Due: prettier --ignore-unknown --write

fix: Reorder `verify` workflow steps to run `semantic-release` after `dist.zip` (#265)
  .github/workflows/always.yml
Due: prettier --ignore-unknown --write

chore(release): 2.5.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  0fa7315c71160732ccc00bc6f2fdc43c6d096fc5
Due: prettier --ignore-unknown --write

fix: move `npm run dist` into semantic-release, upload artifact post-release (#266)
  .github/workflows/always.yml
  .releaserc.mjs
Due: prettier --ignore-unknown --write

chore(release): 2.5.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  f483a0e12c5ed76fe49a7ee5817a225ea2a5fc74
Due: prettier --ignore-unknown --write

fix: Restore CI build/release ordering to prevent empty CSS on GitHub Pages (#267)
  .github/workflows/always.yml
  .releaserc.mjs
Due: prettier --ignore-unknown --write

chore(release): 2.5.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  de71cf4595dc9af19c1a3631e72c69c7967f50ed
Due: prettier --ignore-unknown --write

fix: Restore `semantic-release` ordering before `dist` in `always.yml` (#268)
  .github/workflows/always.yml
Due: prettier --ignore-unknown --write

chore(release): 2.5.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  cc3fb28dc83cc36f041f4941bf3b9643c77c02dd
Due: prettier --ignore-unknown --write

fix: Remove source maps from grunt concat to fix Parcel CSS bundling (#269)
  Gruntfile.js
  __tests__/npm-web-sampler/index/index.pw.spec.js
Due: prettier --ignore-unknown --write, standardx --fix

chore(release): 2.5.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  17ea1c56f411e5a110493aea338df01a08d119e8
Due: prettier --ignore-unknown --write

revert: Revert to 3868ed7 state respecting versioning (#270)
  .releaserc.mjs
  Gruntfile.js
  __tests__/npm-web-sampler/index/index.pw.spec.js
  package-lock.json
  package.json
  scripts/cracks-wrapper.cjs
Due: prettier --ignore-unknown --write, standardx --fix

test: Restore Bootstrap vendor CSS assertion in Playwright index spec (#271)
  __tests__/npm-web-sampler/index/index.pw.spec.js
Due: prettier --ignore-unknown --write, standardx --fix

fix(`semantic-release`): include `dist`
  .github/workflows/always.yml
  .releaserc.mjs
  __tests__/npm-web-sampler/app/script.unit.spec.js
  __tests__/npm-web-sampler/index/index.pw.spec.js
  __tests__/npm-web-sampler/vendor/vendor.rest.spec.js
  __tests__/src/app/script.unit.spec.js
  assets/scraping/screenshot.pdf
  assets/scraping/screenshots/FireFox/example.png
  assets/scraping/scrubbed.html
  assets/scraping/visible-content.txt
Due: prettier --ignore-unknown --write, standardx --fix, npm run grunt:htmllint

f
  .releaserc.mjs
  __tests__/npm-web-sampler/vendor/vendor.rest.spec.js
Due: prettier --ignore-unknown --write, standardx --fix

fix(`semantic-release`): include `dist` (#272)
  .github/workflows/always.yml
  .releaserc.mjs
  __tests__/npm-web-sampler/app/script.unit.spec.js
  __tests__/npm-web-sampler/index/index.pw.spec.js
  __tests__/npm-web-sampler/vendor/vendor.rest.spec.js
  __tests__/src/app/script.unit.spec.js
  assets/scraping/screenshot.pdf
  assets/scraping/screenshots/FireFox/example.png
  assets/scraping/scrubbed.html
  assets/scraping/visible-content.txt
Due: prettier --ignore-unknown --write, standardx --fix, npm run grunt:htmllint

chore(release): 2.5.6 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  5ea317b15ffb6c58ed518bc98c79bd26930f957c
Due: prettier --ignore-unknown --write

tweak: Removed some stale docs
  .github/workflows/always.yml
Due: prettier --ignore-unknown --write

replace
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  package.json
  scripts/pipx/install.ba.sh
Due: prettier --ignore-unknown --write, dockerlint

aaa
  package.json
  scripts/clean.ba.sh
Due: prettier --ignore-unknown --write

fff
  .devcontainer/README.md
  scripts/clean.ba.sh
  scripts/pipx/install.ba.sh
Due: prettier --ignore-unknown --write

Path conditions:
  prettier --ignore-unknown --write: any of: *
  standardx --fix: any of: *.js
  npm run grunt:htmllint: any of: *.html
  helm lint --strict: any of: helm/*
  dockerlint: any of: Dockerfile*
