Repository percebus/npm-web-sampler: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, standardx --fix, npm run grunt:htmllint, helm lint --strict, dockerlint

aaas
  .devcontainer/devcontainer.json
  package.json
Due: prettier --ignore-unknown --write

[MegaLinter] Apply linters fixes
  scripts/clean.ba.sh
Due: prettier --ignore-unknown --write

aa
  package.json
Due: prettier --ignore-unknown --write

feat: devcontainer (#273)
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  package.json
  scripts/clean.ba.sh
Due: prettier --ignore-unknown --write, dockerlint

chore(release): 2.6.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  requirements.frozen.txt
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  ce7af9623b2b639e4d96436cda83c5b0ad948fe0
Due: prettier --ignore-unknown --write

wip
  Dockerfile
  Dockerfile.next
  package.json
  scripts/apt/install.ba.sh
  scripts/helm/get-helm-4.ba.sh
  scripts/terraform/wget.ba.sh
Due: prettier --ignore-unknown --write, dockerlint

f
  scripts/pipx/install.ba.sh
Due: prettier --ignore-unknown --write

dd
  Dockerfile.next
  scripts/FIXME.clean.ba.sh
  scripts/clean.ba.sh
  scripts/pipx/install.ba.sh
Due: prettier --ignore-unknown --write, dockerlint

a
  scripts/FIXME.clean.ba.sh
  scripts/clean.ba.sh
Due: prettier --ignore-unknown --write

aaa
  Dockerfile
  Dockerfile.next
  package.json
  scripts/apt/install.ba.sh
  scripts/helm/get-helm-4.ba.sh
  scripts/terraform/wget.ba.sh
Due: prettier --ignore-unknown --write, dockerlint

f
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: prettier --ignore-unknown --write, dockerlint

aaa
  Dockerfile
  Dockerfile.next
Due: prettier --ignore-unknown --write, dockerlint

aaa
  .python-version
  README.md
  package.json
  requirements.frozen.txt
Due: prettier --ignore-unknown --write

refactor(devcontainer): Re-use top-docker (#280)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .python-version
  Dockerfile
  Dockerfile.next
  README.md
  package.json
  requirements.frozen.txt
  scripts/clean.ba.sh
Due: prettier --ignore-unknown --write, dockerlint

refactor(`workflows/always.yml`): split into different
  .github/workflows/branch.helm.yml
  .github/workflows/branch.javascript.yml
  .github/workflows/branch.terraform.yml
  .github/workflows/branch.yml
  .github/workflows/main.yml
Due: prettier --ignore-unknown --write

aa
  .github/workflows/branch.html.yml
  .github/workflows/branch.javascript.yml
  .github/workflows/branch.terra.yml
  .github/workflows/pull_request.yml
  .github/workflows/pull_request_target.yml
Due: prettier --ignore-unknown --write

fff
  .github/workflows/branch.any.yml
  .github/workflows/branch.github.yml
  .github/workflows/branch.helm.yml
  .github/workflows/branch.html.yml
  .github/workflows/branch.javascript.yml
  .github/workflows/branch.terra.yml
  .github/workflows/pull_request_target.yml
Due: prettier --ignore-unknown --write

w
  .github/workflows/branch.github.yml
  .github/workflows/branch.html.yml
  .github/workflows/branch.terra.yml
  .github/workflows/branch.web.yml
Due: prettier --ignore-unknown --write

a
  .github/workflows/pull_request_target.yml
  helm/Chart.yaml
  terra/variables.tf
Due: prettier --ignore-unknown --write, helm lint --strict

aaa
  .github/workflows/branch.github.yml
  .github/workflows/pull_request_target.yml
Due: prettier --ignore-unknown --write

aaaw
  .github/workflows/branch.github.yml
  .github/workflows/branch.helm.yml
  .github/workflows/branch.terra.yml
  .github/workflows/branch.web.yml
  README.md
Due: prettier --ignore-unknown --write

awaawa
  .github/workflows/branch.github.yml
  .github/workflows/branch.helm.yml
Due: prettier --ignore-unknown --write

aaaa
  .github/workflows/pull_request.yml
  .github/workflows/pull_request_target.yml
Due: prettier --ignore-unknown --write

refactor(`workflows/always.yml`): split into different (#288)
  .github/workflows/branch.any.yml
  .github/workflows/branch.github.yml
  .github/workflows/branch.helm.yml
  .github/workflows/branch.terra.yml
  .github/workflows/branch.web.yml
  .github/workflows/main.yml
  .github/workflows/pull_request.yml
  .github/workflows/pull_request_target.yml
  README.md
  helm/Chart.yaml
  terra/variables.tf
Due: prettier --ignore-unknown --write, helm lint --strict

fix(`README`): broken badge
  README.md
  package.json
Due: prettier --ignore-unknown --write

chore(release): 2.6.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  requirements.frozen.txt
Due: prettier --ignore-unknown --write

Notes added by 'git notes add'
  8ef7aeea5391d7c631eb3d278a666d9de110606a
Due: prettier --ignore-unknown --write

refactor(`helm`): re-create
  helm/npm-web-sampler/.helmignore
  helm/npm-web-sampler/Chart.yaml
  helm/npm-web-sampler/templates/NOTES.txt
  helm/npm-web-sampler/templates/_helpers.tpl
  helm/npm-web-sampler/templates/deployment.yaml
  helm/npm-web-sampler/templates/hpa.yaml
  helm/npm-web-sampler/templates/httproute.yaml
  helm/npm-web-sampler/templates/ingress.yaml
  helm/npm-web-sampler/templates/service.yaml
  helm/npm-web-sampler/templates/serviceaccount.yaml
  helm/npm-web-sampler/templates/tests/test-connection.yaml
  helm/npm-web-sampler/values.yaml
  helm/templates/configmap.yaml
  helm/templates/deployment.yaml
  helm/templates/namespace.yaml
  helm/templates/networkpolicy.yaml
  helm/templates/service.yaml
  helm/values.yaml
  package.json
Due: prettier --ignore-unknown --write, helm lint --strict

aa
  .github/workflows/branch.helm.yml
  package.json
Due: prettier --ignore-unknown --write

Revert "refactor(`helm`): re-create"
  helm/Chart.yaml
  helm/npm-web-sampler/.helmignore
  helm/npm-web-sampler/templates/NOTES.txt
  helm/npm-web-sampler/templates/_helpers.tpl
  helm/npm-web-sampler/templates/deployment.yaml
  helm/npm-web-sampler/templates/hpa.yaml
  helm/npm-web-sampler/templates/httproute.yaml
  helm/npm-web-sampler/templates/ingress.yaml
  helm/npm-web-sampler/templates/service.yaml
  helm/npm-web-sampler/templates/serviceaccount.yaml
  helm/npm-web-sampler/templates/tests/test-connection.yaml
  helm/npm-web-sampler/values.yaml
  helm/templates/configmap.yaml
  helm/templates/deployment.yaml
  helm/templates/namespace.yaml
  helm/templates/networkpolicy.yaml
  helm/templates/service.yaml
  helm/values.yaml
Due: prettier --ignore-unknown --write, helm lint --strict

move
  helm/npm-web-sampler/Chart.yaml
  helm/npm-web-sampler/templates/configmap.yaml
  helm/npm-web-sampler/templates/deployment.yaml
  helm/npm-web-sampler/templates/namespace.yaml
  helm/npm-web-sampler/templates/networkpolicy.yaml
  helm/npm-web-sampler/templates/service.yaml
  helm/npm-web-sampler/values.yaml
Due: prettier --ignore-unknown --write

a
  .github/workflows/branch.helm.yml
Due: prettier --ignore-unknown --write

aa
  .github/workflows/branch.github.yml
  .github/workflows/branch.helm.yml
  .github/workflows/branch.terra.yml
  .github/workflows/branch.web.yml
  .github/workflows/pull_request_target.yml
Due: prettier --ignore-unknown --write

refactor(`helm`): re-create (#295)
  .github/workflows/branch.github.yml
  .github/workflows/branch.helm.yml
  .github/workflows/branch.terra.yml
  .github/workflows/branch.web.yml
  .github/workflows/pull_request_target.yml
  helm/npm-web-sampler/Chart.yaml
  helm/npm-web-sampler/templates/configmap.yaml
  helm/npm-web-sampler/templates/deployment.yaml
  helm/npm-web-sampler/templates/namespace.yaml
  helm/npm-web-sampler/templates/networkpolicy.yaml
  helm/npm-web-sampler/templates/service.yaml
  helm/npm-web-sampler/values.yaml
  package.json
Due: prettier --ignore-unknown --write

refactor(docker): tweaks
  .github/workflows/branch.any.yml
  .github/workflows/main.yml
  Dockerfile
  Dockerfile.next
Due: prettier --ignore-unknown --write, dockerlint

aaa
  .github/workflows/main.yml
Due: prettier --ignore-unknown --write

aaa
  .github/workflows/branch.any.yml
  .github/workflows/main.yml
Due: prettier --ignore-unknown --write

refactor(`docker`): image tag (#298)
  .github/workflows/branch.any.yml
  .github/workflows/main.yml
  Dockerfile
  Dockerfile.next
Due: prettier --ignore-unknown --write, dockerlint

fix(`main.yml`): added `id`
  .github/workflows/main.yml
Due: prettier --ignore-unknown --write

Path conditions:
  prettier --ignore-unknown --write: any of: *
  standardx --fix: any of: *.js
  npm run grunt:htmllint: any of: *.html
  helm lint --strict: any of: helm/*
  dockerlint: any of: Dockerfile*
